

SNOWFLAKE_ACCOUNT=mshkneu-vq44359
SNOWFLAKE_USER=ADVITHI
SNOWFLAKE_PASSWORD=Anuradharavi@2003
SNOWFLAKE_WAREHOUSE=UPI_WH
SNOWFLAKE_DATABASE=UPI_DB
SNOWFLAKE_ROLE=SYSADMIN

AZURE_STORAGE_ACCOUNT=your_storage_account
AZURE_STORAGE_KEY=your_storage_key
AZURE_CONTAINER=upi-bronze

AIRFLOW_HOME=~/airflow